.btn-primary {
  display: inline-block;
  padding: 0.5rem 1.875rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-color: #e53935; /* tomato red */
  border: 1px solid #e53935;
  border-radius: 0.25rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #b71c1c; /* darker red */
  border-color: #a31616;
  color: #fff;
}

.btn-primary:focus {
  background-color: #b71c1c; /* darker red */
  border-color: #a31616;
  color: #fff;
}

.btn-primary:active {
  background-color: #a31616 !important;
  border-color: #8e1212 !important;
  color: #fff;
}

.btn-primary:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: auto;
}
