.filter-container {
  display: none;
}

.footer-menu--item {
  padding: 20px !important;
  width: auto !important;
}

.variants-container {
  display: none !important;
}

#cartSummary {
  display: none;
}

.cart-discount-control {
  display: none;
}

.footer--menu-container {
  align-items: flex-end;
}

.hide {
  display: none !important;
}
